<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'scopus/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'scopus/css/about1.css' %}">
    <title>About</title>
</head>
<body>
<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo">OndreyDev</div>
            <nav class="nav">
                <a class="nav__link" href="/about">About</a>
                <a class="nav__link" href="/overview/summary">Overview</a>
                <a class="nav__link" href="#">Benchmarking</a>
                <a class="nav__link" href="#">Researchers</a>
                <a class="nav__link" href="#">News</a>
                <a class="nav__link" href="#">Contacts</a>
            </nav>
        </div>
    </div>
</header>
<h1>About page</h1>
<section class="section">
    <div class="container">
        <div class="section_header">
           <h1>Welcome to Ondreydev</h1>
        </div>
        <div class="container_background">

        </div>

    <div class="intro">
    <div class="intro_item">
        <div class="intro_header">
            <a href="#">
            <img class="intro_photo" src="{% static 'scopus/images/graph.png' %}" alt="">
                </a>
        </div>
        <div class="intro_content">
            <div class="intro_title">
                <a href="#">Overview</a>
            </div>
            <div class="intro_text">View the research performance of Researchers, Institutions, Countries and more.</div>
        </div>

    </div>

    <div class="intro_item">
        <div class="intro_header">
            <a href="#">
            <img class="intro_photo" src="{% static 'scopus/images/benchmark.png' %}" alt="">
                </a>
        </div>
        <div class="intro_content">
            <div class="intro_title">
                <a href="#">Benchmarking</a>
            </div>
            <div class="intro_text">Compare and benchmark the research performance of anything in SciVal.</div>
        </div>

    </div>

    <div class="intro_item">
        <div class="intro_header">
            <a href="#">
            <img class="intro_photo" src="{% static 'scopus/images/research.png' %}" alt="">
                </a>
        </div>
        <div class="intro_content">
            <div class="intro_title">
                <a href="#">Researshes</a>
            </div>
            <div class="intro_text">View the research performance of Researchers, Institutions, Countries and more.</div>
        </div>

    </div>
        </div>

</div>
</section>

<footer class="footer">
    <div class="container"></div>

    <div class="footer_inner">
        <div class="footer_col_first">
            <div class="footer_logo">Ondreydev</div>
            <div class="footer_text">© 2022 Kim Andrey, Simonov Igor, Imanbekova Takhmina, Aubakirova Assem</div>
        </div>


    </div>
</footer>
</body>
</html>